<div th:fragment="navbar">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" href="/tag/1">World</a>
            <a class="p-2 link-secondary" href="/tag/2">Technology</a>
            <a class="p-2 link-secondary" href="/tag/3">Design</a>
            <a class="p-2 link-secondary" href="/tag/4">Culture</a>
            <a class="p-2 link-secondary" href="/tag/5">Business</a>
            <a class="p-2 link-secondary" href="/tag/6">Politics</a>
            <a class="p-2 link-secondary" href="/tag/7">Opinion</a>
            <a class="p-2 link-secondary" href="/tag/8">Science</a>
            <a class="p-2 link-secondary" href="/tag/9">Health</a>
            <a class="p-2 link-secondary" href="/tag/10">Style</a>
            <a class="p-2 link-secondary" href="/tag/11">Travel</a>
        </nav>
    </div>
</div>
<!-- 
insert into tag (id, tag_name) values
    -> (1, "World"),
    -> (2, "Technology"),
    -> (3, "Design"),
    -> (4, "Culture"),
    -> (5, "Business"),
    -> (6, "Politics"),
    -> (7, "Opinion"),
    -> (8, "Science"),
    -> (9, "Health"),
    -> (10, "Style"),
    -> (11, "Travel"); -->